<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
<div th:replace="fragments.html :: main-nav"></div>
<section class="jumbotron text-center">
    <div class="container">
        <h1>스터디올래</h1>
        <p class="lead text-muted">
            태그와 지역 기반으로 스터디를 찾고 참여하세요.<br/>
            스터디 모임 관리 기능을 제공합니다.
        </p>
        <p>
            <a th:href="@{/sign-up}" class="btn btn-primary my-2">회원 가입</a>
        </p>
    </div>
</section>
<div class="container">
    <div class="row justify-content-center pt-3">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-md-4" th:each="study: ${studyList}">
                    <div class="card mb-4 shadow-sm">
                        <img th:src="${study.image}" class="card-img-top" th:alt="${study.title}" >
                        <div class="card-body">
                            <a th:href="@{'/study/' + ${study.path}}" class="text-decoration-none">
                                <h5 class="card-title context" th:text="${study.title}"></h5>
                            </a>
                            <p class="card-text" th:text="${study.shortDescription}">Short description</p>
                            <p class="card-text context">
                                <span th:each="tag: ${study.tags}" class="font-weight-light text-monospace badge badge-pill badge-info mr-3">
                                    <a th:href="@{'/search/tag/' + ${tag.title}}" class="text-decoration-none text-white">
                                        <i class="fa fa-tag"></i> <span th:text="${tag.title}">Tag</span>
                                    </a>
                                </span>
                                <span th:each="zone: ${study.zones}" class="font-weight-light text-monospace badge badge-primary mr-3">
                                    <a th:href="@{'/search/zone/' + ${zone.id}}" class="text-decoration-none text-white">
                                        <i class="fa fa-globe"></i> <span th:text="${zone.localNameOfCity}" class="text-white">City</span>
                                    </a>
                                </span>
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-muted">
                                    <i class="fa fa-user-circle"></i>
                                    <span th:text="${study.memberCount}"></span>명
                                </small>
                                <small class="text-muted date" th:text="${study.publishedDateTime}">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments.html :: footer"></div>
<div th:replace="fragments.html :: date-time"></div>
</body>
</html>